{% url 'contact' as contact_page%}
{% url 'login' as login_page%}
{% url 'register' as register_page%}
{% url 'products' as products_page %}
{% url 'carthome' as cart_page %}
{% url 'logout' as logout_page %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#">{{site_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == contact_page %} active{% endif %}">
        <a class="nav-link" href="{{contact_page}}">Contacts</a>
      </li>
     <li class="nav-item dropdown{% if request.path == products_page %} active {% endif %}">
        <a class="nav-link dropdown-toggle" href="{{products_page}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Choose Your BucketList
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Electronics</a>
          <a class="dropdown-item" href="#">Computer Items</a>
          <a class="dropdown-item" href="#">Laptops & Accessories</a>
           <a class="dropdown-item" href="#">Gaming Consoles</a>
            <a class="dropdown-item" href="#">Cameras & Accessories</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
<li class="nav-item{% if request.path == products_page %} active{% endif %}">
        <a class="nav-link " href="{{products_page}}" tabindex="-1" >Products</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item{% if request.path == logout_page %} active{% endif %}">
        <a class="nav-link " href="{{logout_page}}" tabindex="-1" >Sign Out</a>
      </li>
      {% else %}
      
      <li class="nav-item{% if request.path == login_page %} active{% endif %}">
        <a class="nav-link " href="{{login_page}}" tabindex="-1" >Sign In</a>
      </li>
      <li class="nav-item{% if request.path == register_page %} active{% endif %}">
        <a class="nav-link " href="{{register_page}}" tabindex="-1" >Sign Up</a>
      </li>
      {% endif %}
      <li class="nav-item{% if request.path == cart_page %} active{% endif %}">
        <a class="nav-link " href="{{cart_page}}" tabindex="-1" >{{request.session.cart_items}}<i class="fas fa-shopping-cart"></i></a>
      </li>
    </ul>
  {% include 'search/snippets/search.html' %}
  </div>
</nav>