

<html>
<head>
<title>
base page
</title>
 {% include 'base/css.html'%}
</head>

<body> 
{% include 'base/navbar.html' with site_name="Telebury"  %}
<div class="container">
{% block content %}
{% endblock %}
</div>
<script>
$(document).ready(function(){
    var productForm=$(".product-add-ajax")
    productForm.submit(function(event){
        event.preventDefault();
        console.log("I made the form not to submit")

        var thisform=$(this)
        var actionEndpoint=thisform.attr("data-endpoint");
        var httpMethod=thisform.attr("method");
        var formData=thisform.serialize();

        $.ajax({
            url:actionEndpoint,
            method:httpMethod,
            data:formData,
            success:function(data){
             var submitSpan=thisform.find(".submit-span")
             if(data.added){
                 submitSpan.html("In Cart<button type='submit' class='btn btn-link'>Remove??</button>")
             }
             else{
                 submitSpan.html("<button type='submit' class='btn btn-success'>Add to cart</button>")
             }
             var navbarcartcount=$(".navbar-cart-count")
             navbarcartcount.text(data.cartItemCount)
            if(window.location.href.indexOf("cart")!=-1)
                refreshCart()
            },
            error:function(errorData){
                console.log("error")
                console.log(errorData)
            }
        })
    })
    function refreshCart(){
        console.log("Inside the cart")
        var cartTable=$(".cart-home")
        var cartBody=cartTable.find(".cart-body")
        cartBody.html("<h1> Changed</h1>")
        
        var updateCartUrl ='/api/cart'
        var updateCartMethod="GET";
        var data={}
        $.ajax({
            url:updateCartUrl,
            method:refreshCart,
            data:data,
            success:function(data){
                console.log("success")
            },
            error:function(errorData){
                console.log('error')
            }
        })
    }
})
</script>
</body>
</html>