{% extends "contact/base.html" %}


{% block content%}

<div class="row ">
<div class="cols mb-4">
{{object.title}}<br>
{{object.description}}<br>
{{object.timestamp| timesince }}ago<br>
{% if object.image %}
<img src="{{object.image.url}}" width="100px" height="200px" alt="hello">
{% endif %}
</div>
<div class="cols mb-4">

{% if object in cart.products.all %}
In Cart<button class="btn btn-link">Remove??</button>
{% else %}
<button class="btn btn-success">Add to cart
{% endif %}


</div>

{% endblock %}